@{
    ViewBag.Title = "Accueil";
}

<h2>Accueil</h2>

Welcome to LBC Alerter !<br />
<br />
Ce site permet d'obtenir des alertes, pour une recherche donnée, sur le site leboncoin.fr<br />
<span id="badVersion">Malheuresement il ne fonctionne pas encore avec Internet Explorer et Safari je vous conseille d'installer <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a><br /></span>
<br />
Enjoy !<br />
<br />
<i>Attention cette pratique n'est pas trop autorisée par leboncoin.fr il se peut donc que ce site soit supprimé à tout moment.</i><br />
<br />
What's news ?<br />
v2<br />
-Alerte via RSS<br />
-Possibilité de réinitialiser son mot de passe<br />
v1<br />
-Augmentation de la limite des recherches à 5<br />
-Paramétrage des emails alertes et/ou récap quotidien<br />
-Paramétrage du temps d'actualisation des recherches<br />
-Vérification des comptes<br />
-Design email<br />
<br />
A venir<br />
-Compte premium<br />
-Les annonces complètes<br />

@section scripts {
    <script type="text/javascript">
        var isOpera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
        var isIE = false || !!document.documentMode;

        if (isOpera || isIE) {
            $('#badVersion').show();
        } else {
            $('#badVersion').hide();
        }
    </script>
}