@using Microsoft.AspNet.Identity
@model IEnumerable<LBCAlerterWeb.Models.Notification>
@{
    ViewBag.Title = "Quoi de neuf ?";
    ViewBag.Current = "notif";
    ViewBag.Large = true;
    
    Helper.SetAllNotificationAsRead(User.Identity.GetUserId());
}

<!-- page header -->
<div class="pageheader">
    <h2>
        <i class="fa fa-exclamation-circle"></i> Quoi de neuf ?
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>Vous êtes ici</li>
            <li><a href="@Url.Action("Index", "Search")">LBC Alerter</a></li>
            <li class="active">Quoi de neuf ?</li>
        </ol>
    </div>
</div>
<!-- /page header -->

@foreach (var item in Model)
{
    <section class="tile color transparent-black textured">
        <!-- tile header -->
        <div class="tile-header">
            <h1><strong>@Html.DisplayFor(modelItem => item.Title)</strong></h1>
            <div class="controls">
                <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                <a href="#" class="remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <!-- /tile header -->
        <!-- tile body -->
        <div class="tile-body">
            <p>@Html.DisplayFor(modelItem => item.Message)</p>
        </div>
        <!-- /tile body -->
    </section>
}