@model LBCAlerterWeb.Models.Search
@{
    ViewBag.Title = "Supprimer";
}

<div>
    <h4>Voulez-vous vraiment supprimer cette alerte?</h4>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <input type="submit" value="Supprimer" class="btn btn-primary btn-block btn-large" />

        <div class="links">
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
