@model LBCAlerterWeb.Models.Don
@{
    ViewBag.Title = "Merci !";
    ViewBag.Current = "pay";
    ViewBag.Large = true;
}
<!-- page header -->
<div class="pageheader">
    <h2>
        <i class="fa fa-credit-card"></i> Merci !
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>Vous êtes ici</li>
            <li><a href="@Url.Action("Index", "Search")">LBC Alerter</a></li>
            <li><a href="@Url.Action("Index", "Don")">Soyez sympa !</a></li>
            <li class="active">Merci !</li>
        </ol>
    </div>
</div>
<!-- /page header -->

Vous êtes vraiment trop génial