/*
    FORM
*/
.small-form {
  max-width: 300px;
  margin: 0 auto;
}
.small-form h2 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}
input,
textarea,
select {
  width: 100%;
}
input:not([type="submit"]):not([type="checkbox"]),
textarea,
select {
  display: block;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  /*text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);*/
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
input:not([type="submit"]):not([type="checkbox"]):focus,
textarea:focus,
select:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}
.lbc-content {
  /*h1 {
        font-size: 2em;
        font-weight: bold;
        margin: 7px 0 0 0;
        padding: 3px 0 0 0;
    }

    h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 15px 0 3px 0;
        padding: 0;
    }

    h3 {
        display: inline;
        font-size: 16px;
        font-weight: normal;
    }

    a {
        font-weight: bold;
        color: #369;
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        color: #936;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    form {
        display: inline;
    }

    form p {
        margin-top: 5px;
        clear: left;
    }

    input, select {
        margin-top: 0;
        margin-left: 0;
    }

    br {
        clear: left;
    }

    .red {
        color: #C00;
    }*/
}
.lbc-content * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.lbc-content #TableContentBottom .Map {
  background-image: url(images/map.png);
  background-repeat: no-repeat;
  margin-right: 10px;
}
.lbc-content area {
  outline: none;
}
.lbc-content input[type],
.lbc-content textarea,
.lbc-content select {
  display: inline;
  width: auto;
  margin-bottom: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  box-shadow: none;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
.lbc-content input[type]:focus,
.lbc-content textarea:focus,
.lbc-content select:focus {
  box-shadow: none;
}
.lbc-content .page_width {
  margin: auto;
  position: relative;
  text-align: left;
  width: 980px;
}
.lbc-content .error {
  border: 1px solid #C00;
  color: #C00;
  font-weight: bold;
  padding: 1px 5px 2px 5px;
  margin: 3px 0 5px 0;
  display: block;
  float: left;
  clear: both;
}
.lbc-content .search_box {
  padding: 10px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  -o-border-radius: 12px 12px 12px 12px;
  -ms-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
  position: relative;
  min-height: 28px;
  z-index: 1000;
}
.lbc-content .search_box form.data {
  display: none;
}
.lbc-content .search_box input[type=text],
.lbc-content #searchextras select {
  background: #FFF;
  border: 1px #AAA solid;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.lbc-content #searchmain {
  float: left;
}
.lbc-content #searchmain input[type=text] {
  padding: 0 5px;
  height: 28px;
}
.lbc-content #searchmain select {
  margin: 5px 0 0 0;
}
.lbc-content #searchmain select:focus,
.lbc-content #searchmain input:focus {
  outline: 0;
}
.lbc-content #searchmain .search_select {
  float: left;
  border: 1px #AAA solid;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background: #FFF;
  height: 28px;
}
.lbc-content #searchmain .search_select.search_activity_sector {
  width: 135px;
  margin-right: 8px;
}
.lbc-content #searchmain .search_select .search_activity_sector {
  width: 130px;
}
.lbc-content #searchmain .search_select.search_category {
  width: 235px;
  margin-right: 8px;
}
.lbc-content #searchmain .search_select.search_category_boutique {
  width: 175px;
  margin-right: 8px;
}
.lbc-content #searchmain .search_select .search_category {
  width: 231px;
}
.lbc-content #searchmain .search_select .search_category_boutique {
  width: 170px;
}
.lbc-content #searchmain .search_select.searcharea {
  width: 206px;
}
.lbc-content #searchmain .search_select.searcharea_boutique {
  width: 195px;
}
.lbc-content #searchmain .search_select .searcharea {
  width: 202px;
}
.lbc-content #searchmain .search_select .searcharea_boutique {
  width: 190px;
}
.lbc-content #searchmain .search_select select {
  border: 0;
  background: #FFF;
}
.lbc-content .select-and-link {
  width: 700px;
  float: left;
}
.lbc-content .select-and-link-boutique {
  width: 950px;
  float: left;
}
.lbc-content #searchextras {
  width: 703px;
  padding-top: 0;
  margin-bottom: 10px;
}
.lbc-content #searchextras .radio {
  margin-right: 0;
}
.lbc-content #searchextras,
.lbc-content #searchextras input,
.lbc-content #searchextras select {
  color: #666;
}
.lbc-content #searcharea_expanded,
.lbc-content #country {
  padding: 0;
  margin-right: 8px;
  float: left;
  width: 217px;
}
.lbc-content #subtypes {
  display: none;
  background: #FFF;
  height: 26px;
  line-height: 26px;
  width: 348px;
  margin: 21px 5px 0 0;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.lbc-content #subtypes label {
  padding: 0 20px;
  font-size: 10px;
}
.lbc-content #subtypes input {
  vertical-align: middle;
  margin-bottom: 4px;
  *margin-bottom: 2px;
}
.lbc-content #real_estate_type {
  float: left;
  font-size: 10px;
  background: #FFF;
  margin-top: 21px;
  height: 26px;
  line-height: 26px;
  width: auto;
  padding: 0 8px 0 0;
  *padding: 0 5px 0 0;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.lbc-content .real_estate_type {
  float: left;
  font-size: 10px;
}
.lbc-content .real_estate_type input {
  vertical-align: middle;
  margin: 0 0 2px 7px;
}
.lbc-content .real_estate_type label {
  *margin-left: -2px;
}
.lbc-content #urgentsearch {
  font-size: 11px;
  margin: 10px 0 0 0;
  padding-right: 20px;
  float: right;
}
.lbc-content #titlesearch {
  font-size: 11px;
  margin: 5px 0 0 0;
  padding-right: 20px;
  float: left;
}
.lbc-content #titlesearch {
  border-right: 1px solid #CCC;
  margin-right: 30px;
}
.lbc-content #titlesearch input,
.lbc-content #urgentsearch input,
.lbc-content #urgentsearch img {
  vertical-align: middle;
}
.lbc-content #searchtext {
  width: 250px;
  margin-right: 8px;
  float: left;
}
.lbc-content #searchtext {
  width: 225px;
  margin-right: 8px;
  float: left;
}
.lbc-content #searchtext_internal_boutique {
  width: 370px;
  margin-right: 8px;
  float: left;
}
.lbc-content #searchbutton {
  padding: 7px 0 6px 0;
  width: 165px;
  text-align: center;
  float: right;
  background: #F60;
  text-transform: uppercase;
  border: 0;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  color: #FFF !important;
  cursor: pointer;
  bottom: 0;
  right: 0;
}
.lbc-content .zipcode_search {
  float: left;
}
.lbc-content .featurebox {
  float: left;
}
.lbc-content .italic {
  font-style: italic;
}
.lbc-content .featurebox.single {
  float: left;
  margin-top: 21px;
  height: 26px;
  line-height: 26px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: #FFF;
  padding: 0 5px;
}
.lbc-content .between {
  float: left;
  padding-top: 21px;
  width: 348px;
}
.lbc-content .between .type {
  float: left;
  background: #C4BDB0;
  height: 26px;
  line-height: 26px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  font-weight: bold;
  color: #000;
  width: 61px;
  text-align: center;
  font-size: 10px;
}
.lbc-content .between .select {
  float: left;
  background: #FFF;
  height: 26px;
  line-height: 26px;
  padding: 0 3px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  font-size: 10px;
}
.lbc-content .featurebox select {
  font-size: 10px;
  width: 113px;
}
.lbc-content .between span.error {
  float: none;
  margin-top: 5px;
  margin-right: 12px;
}
.lbc-content span.urgent {
  font-weight: bold;
  color: #F60;
}
.lbc-content .comment {
  padding-bottom: 10px;
}
.lbc-content .half_comment {
  float: left;
  width: 50%;
  height: 20px;
}
.lbc-content .comment_left {
  text-align: left;
}
.lbc-content .comment_right {
  text-align: right;
}
.lbc-content .comment_text {
  line-height: 20px;
}
.lbc-content #mileagelist,
.lbc-content #rooms {
  clear: both;
}
.lbc-content .searchbutton_zone {
  float: left;
  position: relative;
}
.lbc-content #availability_ds_datepicker,
.lbc-content #availability_de_datepicker {
  background: no-repeat 101px -35px;
  width: 116px;
  font-size: 11px;
}
.lbc-content .boutique_pub_box {
  padding: 10px;
  background: #E3DCCD;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  -o-border-radius: 12px 12px 12px 12px;
  -ms-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
  width: 190px;
  margin-left: 22px;
}
.lbc-content #searchbutton_pub_box {
  background: none repeat scroll 0 0 #F60;
  border: 0 none;
  border-radius: 5px 5px 5px 5px;
  bottom: 0;
  color: #FFF !important;
  cursor: pointer;
  font-weight: bold;
  padding: 11px 0 10px;
  text-align: center;
  text-transform: uppercase;
  width: 210px;
  margin-left: 22px;
}
.lbc-content .featurebox.disabled {
  background: #DDD;
}
.lbc-content #searchextras .featurebox.disabled input,
.lbc-content #searchextras .featurebox.disabled select {
  background: #DDD;
}
.lbc-content #clothes_search_label {
  color: #F60;
  margin: 0 0 -20px 385px;
  font-weight: bold;
}
.lbc-content .submitsearch {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.lbc-content #location_hints_box {
  display: none;
  position: absolute;
  background: #FFF;
  border: 1px solid #CCC;
  margin: -4px 2px 1px 1px;
  padding: 5px 5px 0 5px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  z-index: 1000;
}
.lbc-content #location_hints_box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.lbc-content #location_hints_box ul li {
  padding: 1px 0 1px 3px;
  margin: 0;
  cursor: pointer;
  height: 15px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.lbc-content #location_hints_box ul li:hover,
.lbc-content #location_hints_box ul li.selected {
  background: #DDD;
}
.lbc-content #location_hints_box span {
  display: block;
  float: left;
}
.lbc-content #location_hints_box ul li.last-locale {
  padding-bottom: 2px;
  border-bottom: 1px solid #CCC;
}
.lbc-content #location_hints_box span.city {
  width: 193px;
  white-space: nowrap;
  overflow: hidden;
}
.lbc-content #location_hints_box span.zipcode {
  width: 45px;
  text-align: right;
}
.lbc-content #location_hints_box_close {
  cursor: pointer;
}
.lbc-content input#location,
.lbc-content input#zipcoded {
  width: 251px;
  height: 24px;
  padding: 0 !important;
  border: none;
  outline: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.lbc-content input.example {
  color: #999;
}
.lbc-content #location_hints_box_close {
  padding: 3px;
  border-top: 1px solid #CCC;
  text-align: right;
}
.lbc-content .location {
  float: right;
  width: 257px;
}
.lbc-content .location .location_input {
  float: left;
  width: 251px;
  padding: 2px;
  border: 1px solid #AAA;
  background: #FFF;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.lbc-content .location .error {
  float: none;
}
.lbc-content .location .new {
  font-weight: bold;
  color: #F60;
}
.lbc-content .location ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
.lbc-content .location .crt {
  float: left;
  overflow: hidden;
  list-style: none;
  margin: 0 3px 3px 0;
  padding: 4px 2px;
  background: #EFEFEF;
  font-size: 11px;
  border: 1px solid #999;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.lbc-content .location .crt:last-child {
  margin-right: 0;
}
.lbc-content .location .crt.active {
  background: #DDD;
}
.lbc-content .location .crt .city {
  white-space: nowrap;
}
.lbc-content .location .crt .close {
  padding: 0 2px;
  color: #888;
  cursor: pointer;
}
.lbc-content .ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}
.lbc-content .ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.lbc-content .ui-datepicker .ui-datepicker-prev,
.lbc-content .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.lbc-content .ui-datepicker .ui-datepicker-prev-hover,
.lbc-content .ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.lbc-content .ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.lbc-content .ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.lbc-content .ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.lbc-content .ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.lbc-content .ui-datepicker .ui-datepicker-prev span,
.lbc-content .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.lbc-content .ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.lbc-content .ui-datepicker .ui-datepicker-title select {
  margin: 1px 0;
}
.lbc-content .ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.lbc-content .ui-datepicker select.ui-datepicker-month,
.lbc-content .ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.lbc-content .ui-datepicker table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.lbc-content .ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.lbc-content .ui-datepicker td {
  border: 0;
  padding: 1px;
}
.lbc-content .ui-datepicker td span,
.lbc-content .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.lbc-content .ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.lbc-content .ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.lbc-content .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
.lbc-content a.ui-priority-secondary {
  color: #BBB !important;
}
.lbc-content .ui-datepicker-cover {
  display: none;
  display: block;
  position: absolute;
  z-index: -1;
  filter: mask();
  top: -4px;
  left: -4px;
  width: 200px;
  height: 200px;
}
.field-validation-error {
  font-size: 13px;
  color: white;
}
.input-validation-error {
  margin-bottom: 0;
}
.onoffswitch-container {
  margin-bottom: 10px;
}
.onoffswitch-container .control-label {
  float: left;
  margin-top: 4px;
  font-weight: normal;
}
.onoffswitch-container .control-block {
  float: right;
}
/*
    LINKS
*/
.links {
  font-size: 13px;
  margin-top: 20px;
}
.links a {
  color: white;
  text-decoration: none;
}
/*
    CARDS
*/
.card .back .back-links {
  width: 33%;
}
.card .back .back-links a {
  text-decoration: none;
}
.card .back .back-links i {
  display: block;
}
.card .front .details label {
  margin-bottom: 0;
  font-weight: normal;
}
/*
    SOCIAL
*/
.social-container-pay {
  text-align: left;
  display: none;
}
.social-container {
  text-align: center;
}
.social-container i {
  cursor: pointer;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border: 2px solid;
  border-radius: 50%;
  margin-top: 20px;
  font-size: 20px;
}
.social-container i:hover {
  color: white;
}
.icon-facebook {
  color: #3b5998;
  border-color: #3b5998;
  padding: 0.5em 0.7em;
}
.icon-facebook:hover {
  background: #3b5998;
}
.icon-twitter {
  color: #00a0d1;
  border-color: #00a0d1;
  padding: 0.5em;
}
.icon-twitter:hover {
  background: #00a0d1;
}
.icon-googleplus {
  color: #db4a39;
  border-color: #db4a39;
  padding: 0.5em;
}
.icon-googleplus:hover {
  background: #db4a39;
}
/*
    SLIDER
*/
.ui-slider {
  background-color: #1ABC9C;
  background-image: -webkit-linear-gradient(left, #1abc9c 0, #f1c40f 50%, #e74c3c 100%);
  background-image: linear-gradient(to right, #1abc9c 0, #f1c40f 50%, #e74c3c 100%);
  margin: 20px;
}
.ui-slider .ui-slider-range {
  background: transparent;
}
.ui-slider .slider-range-inverse {
  background: #CCC;
  position: absolute;
  right: 0;
}
.ui-slider .ui-slider-handle {
  outline: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background: #FFF;
  top: -7px;
  border-radius: 50%;
  border-width: 0;
}
.ui-slider .ui-slider-handle:active {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}
.ui-slider .ui-slider-handle .dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  background: transparent;
  overflow: hidden;
}
.ui-slider .ui-slider-handle .dot .handle-track {
  display: block;
  height: 18px;
  background-color: #1ABC9C;
  background-image: -webkit-linear-gradient(left, #1abc9c 0, #f1c40f 50%, #e74c3c 100%);
  background-image: linear-gradient(to right, #1abc9c 0, #f1c40f 50%, #e74c3c 100%);
  position: absolute;
  padding-right: 18px;
}
.ui-slider,
.ui-slider .slider-range-inverse,
.ui-slider .ui-slider-range {
  height: 14px;
  border-radius: 10px;
  border-width: 0;
}
/*
    BOOTSTRAP CUSTOM
*/
.row-margin {
  margin-bottom: 20px;
}
.btn-home {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 100;
}
/*# sourceMappingURL=pretty.css.map */