@model LBCAlerterWeb.Models.RegisterViewModel
@{
    ViewBag.Title = "Validation";
}

<h2>@ViewBag.Title.</h2>

Erreur de validation contacter l'administrateur

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
