@{
    ViewBag.Title = "Erreur";
}

<h2>@ViewBag.Title.</h2>

Quelque chose de grave vient de se produire. Merci de contacter l'<a href="mailto:contact@lbcalerter.com">administrateur</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
