@{
    ViewBag.Title = "Validation";
}

<h2>@ViewBag.Title.</h2>

Votre inscription a bien été prise en compte.<br/>
Nous vous avons envoyé un email de confirmation afin de prouver que vous en êtes bien le propriétaire.<br />
<br />
Pensez à vérifier votre boite spam, si celui-ci n'arrive pas dans les 5 mins.<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
