@{
    ViewBag.Title = "Réinitialisation prise en compte";
}

<h4>@ViewBag.Title</h4>
<hr />

Un email vous a été envoyé afin de réinitialiser votre mot de passe.<br />
<br />
Pensez à vérifier votre boite de courriers indésirables, si celui-ci n'arrive pas dans les 5 mins.<br />

<div class="links">
    @Html.ActionLink("Retour à l'accueil", "Index", "Search")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
