@{
    ViewBag.Title = "Réinitialisation prise en compte";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

Un email vous a été envoyé afin de réinitialiser votre mot de passe.<br />
<br />
Pensez à vérifier votre boite de courriers indésirables, si celui-ci n'arrive pas dans les 5 mins.<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
