@{
    ViewBag.Title = "Réinitialisation prise en compte";
}

<h2>@ViewBag.Title.</h2>

Un email vous a été envoyé afin de réinitialiser votre mot de passe.<br />
<br />
Pensez à vérifier votre boite spam, si celui-ci n'arrive pas dans les 5 mins.<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
