@{
    ViewBag.Title = "Youpi !";
}

<h2>@ViewBag.Title</h2>

Votre compte est validé<br />
<br />
Rendez-vous dans l'onglet "Mes Recherches" pour gérer vos recherches

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
