@{
    ViewBag.Title = "Youpi !";
}

<h2>@ViewBag.Title</h2>

@if (ViewContext.RouteData.Values["id"].ToString() == "Register")
{
    <p>
        Votre compte est validé<br />
        <br />
        Rendez-vous dans l'onglet "Mes alertes" pour gérer vos alertes
    </p>
}
else if (ViewContext.RouteData.Values["id"].ToString() == "Reset")
{
    <p>
        Votre mot de passe a bien été réinitialisé
    </p>
}
else
{
    <p>
        OK cowboy
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
