@{
    ViewBag.Title = "Youpi !";
}

<h4>@ViewBag.Title</h4>
<hr/>

@if (ViewContext.RouteData.Values["id"].ToString() == "Register")
{
    <p>
        Votre compte est validé<br />
        <br />
        Rendez-vous dans l'onglet "Mes alertes" pour gérer vos alertes
    </p>
}
else if (ViewContext.RouteData.Values["id"].ToString() == "Reset")
{
    <p>
        Votre mot de passe a bien été réinitialisé
    </p>
}
else
{
    <p>
        OK cowboy
    </p>
}

<div class="links">
    @Html.ActionLink("Retour à l'accueil", "Index", "Search")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
